<app-navbar></app-navbar>

<div class="container">
    <div class="column">
        <div class="column-name1">Addition/Subtraction</div>
        <button class="btn btn-col-1" (click)="goToGamePage(1, 1)">1</button>
        <button class="btn btn-col-1" (click)="goToGamePage(1, 2)">2</button>
        <button class="btn btn-col-1" (click)="goToGamePage(1, 3)">3</button>
    </div>
    <div class="column">
        <div class="column-name2">Multiplication/Division</div>
        <button class="btn btn-col-2" (click)="goToGamePage(2, 1)">1</button>
        <button class="btn btn-col-2" (click)="goToGamePage(2, 2)">2</button>
        <button class="btn btn-col-2" (click)="goToGamePage(2, 3)">3</button>
    </div>
    <div class="column">
        <div class="column-name3">Mixed Operations</div>
        <button class="btn btn-col-3" (click)="goToGamePage(3, 1)">1</button>
        <button class="btn btn-col-3" (click)="goToGamePage(3, 2)">2</button>
        <button class="btn btn-col-3" (click)="goToGamePage(3, 3)">3</button>
    </div>
</div>

